# dbt
target/
dbt_modules/
.log/
.logs/
.run/
.packages
.dbt/

# Python virtual envs
venv/
.env
.venv/
dbt-demo/

# IDEs / OS
.vscode/
.idea/
.DS_Store

# tests / caches
.pytest_cache/
__pycache__/

# secrets
*.key
*.pem
.env*
